* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* Global CSS Start*/

.container {
    width: 1140px;
    margin: 0px auto;
}

.row {
    width: 100%;
    float: left;
}

.col-4 {
    width: 33.33%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}

.col-12 {
    width: 100%;
    float: left;
}


/* Global CSS End*/

.logo img {
    width: 22%;
}

.header {
    width: 100%;
    padding: 20px 0px;
    float: left;
    border-bottom: 1px solid #eee;
}

.nav-menu {
    width: 100%;
    float: left;
    text-align: right;
}

.nav-menu li {
    list-style: none;
    display: inline-block;
}

.nav-menu li a {
    display: block;
    font-size: 14px;
    font-weight: 500px;
    text-transform: capitalize;
    margin: 20px 10px 0px;
    color: #192954;
}

.button-group {
    display: flex;
}

.button-group .btn-primary {
    padding: 10px 35px;
    background: #1e266d;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 10px 0px;
    color: white;
    border: 1px solid #1e266d;
    font-size: 14px;
    font-weight: 500;
    transition: 1s;
}

.button-group .btn-primary:hover {
    background: #FB555B;
    color: #1e266d;
    border: 1px solid #FB555B;
}

.banner .inner_banner {
    display: flex;
    align-items: center;
}

.inner_banner .banner_text {
    flex-basis: 100%;
}

.inner_banner .banner_text h1 {
    font-size: 62px;
    line-height: 72px;
    font-weight: 700;
    color: #1e266d;
    margin: 0px 0px 10px;
}

.inner_banner .banner_text h1 span {
    color: #FB555B;
}

.inner_banner .banner_text h4 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
    color: #1e266d;
    margin: 0px 0px 10px;
}

.inner_banner .banner_text .btn-primary {
    padding: 10px 35px;
    background: #1e266d;
    display: inline-block;
    margin: 30px 0px 0px 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid #1e266d;
    font-size: 14px;
    font-weight: 500;
    transition: 1s;
}

.inner_banner .banner_text .btn-primary:hover {
    background: #FB555B;
    color: #1e266d;
    border: 1px solid #FB555B;
}

.banner {
    width: 100%;
    float: left;
    padding: 40px 0px;
    text-align: center;
}

.banner h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 72px;
    color: #192954;
    margin: 0px 0px 10px;
}

.banner h1 span {
    color: #FB555B;
}

.banner p {
    color: #192954;
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
    margin: 0px 0px 10px;
}

.banner img {
    width: 45%;
}

.successfully {
    width: 100%;
    float: left;
    padding: 10px 0px 60px;
}

.left-text {
    width: 100%;
    float: left;
    text-align: right;
}

.right-text {
    width: 100%;
    float: left;
}

.left-text h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 72px;
    color: #FB555B;
    margin: 0px 20px 0px 0px;
}

.left-text p {
    color: #192954;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 20px 0px 0px;
}

.right-text h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 72px;
    color: #192954;
    margin: 0px 0px 0px 20px;
}

.feature {
    width: 100%;
    float: left;
    padding: 0px 0px 80px;
}

.inner-feature {
    width: 72%;
    padding: 60px 40px;
    float: left;
    margin: 0px 20px;
}

.inner-feature img {
    width: 100%;
    height: 220px;
    margin: 0px 0px 10px;
}

.inner-feature h4 {
    color: #192954;
    font-size: 22px;
    line-height: 32px;
    margin: 0px 0px 10px;
    text-align: center;
}

.inner-feature p {
    color: #192954;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 10px;
    text-align: center;
}

.button-group .btn-sec {
    padding: 10px 35px;
    background: #1e266d;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 60px 0px;
    color: white;
    border: 1px solid #1e266d;
    font-size: 14px;
    font-weight: 500;
    transition: 1s;
}

.button-group .btn-sec:hover {
    background: #FB555B;
    color: #1e266d;
    border: 1px solid #FB555B;
}

.bg1 {
    background-color: #D5E2FE;
}

.bg2 {
    background-color: #43817298;
}

.bg3 {
    background-color: #FCA08B;
}

.footer {
    width: 100%;
    float: left;
    padding: 20px 0px;
    background-color: #FB555B;
    text-align: center;
}

.footer p {
    font-size: 14px;
    line-height: 24px;
    color: #f0f0f0;
}

.footer p strong {
    font-weight: 600;
}